.idea/
.DS_Store

node_modules/
dist/
.env
/db/config.json
/coverage/

/scripts/add_greet_message.sh
/scripts/remove_get_started_button.sh
/scripts/remove_greet_message.sh
/scripts/add_get_started_button.sh
